{{ define "main" }}
{{ if not .Params.menu }}
<article class="post">
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <div class="post-meta">
      <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
        {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
      </time>
      {{ with .Params.author }}<span class="meta-separator">·</span> <span class="author">{{.}}</span>{{ end }}
      <span class="meta-separator">·</span>
      {{- partial "reading-meta.html" . -}}
    </div>
  </header>

  <content class="post-content">
    {{ .Content }}
  </content>
</article>
{{ end }}
<p>
  {{ range (.GetTerms "tags") }}
  <a class="blog-tags" href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a>
  {{ end }}
</p>
{{ if not .Params.hideReply }}
{{ with .Site.Params.author.email }}
<p>
  <a href='mailto:{{ . }}?subject={{ i18n "email-subject" }}"{{ default $.Site.Title $.Page.Title }}"'>
    {{ i18n "email-reply" }} ↪
  </a>
</p>
{{ end }}
{{ end }}
{{ end }}